<div class="form-container">
  <span class="form-input">
  <label class="hidden">Flight Number</label>
    <%= f.text_field :flight_number, placeholder: "Flight Number" %>
  </span>

  <span class="form-input">
  <label class="hidden">Confirmation Number</label>
  <%= f.text_field :confirmation_number, placeholder: "Confirmation Number"  %>
  </span>

  <span class="form-input">
  <label>Flight Time </label>
  <%= f.datetime_field :flight_time, class: "select" %>
  </span>

  <span class="form-input">
  <label>Time Zone </label>
  <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all.sort, default: "Pacific Time (US & Canada)", class: "select"%>
  </span>
  </div>
  
  <div class="flight-buttons">
      <%= f.submit yield(:button_text), class: 'btn-sm btn-create' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")), user_flights_path(current_user), :class => 'btn-sm btn-cancel' %>
  </div>
</div>


