<%= form_for :flight, url: user_flights_path(current_user) do |f| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group md-2">
    <%= f.label :confirmation_number, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.text_field :confirmation_number, class: 'form-control' %>
    </div>
  </div>

 <div class="container">
  <div class='col-md-5'>
    <div class="form-group">
      <label>Flight Time</label>
      <div class='input-group date' id='flight-time'>
        <%=f.text_field :flight_time, class:"form-control" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class='col-md-5'>
    <div class="form-group">
      <label> Check-in Time </label>
      <div class='input-group date' id='checkin-time'>
        <input type='text' class="form-control" />
        <!-- <span class="input-group-addon"> -->
          <!-- <span class="glyphicon glyphicon-calendar"></span> -->
        <!-- </span> -->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('#flight-time').datetimepicker();
    $('#checkin-time').datetimepicker({
      useCurrent: false //Important! See issue #1075
    });
    $("#flight-time").on("dp.change", function (e) {
      var flightTime = e.date
      var checkIn = new Date(flightTime - 86400000)
      $('#checkin-time').text(checkIn);
    });
  });
</script>

  <div class="form-group md-2">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_flights_path(current_user), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<!-- -->
