<div class=title>Edit Flight</div>

<%= form_for :flight, url: edit_flight_url(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'form', flight: @flight %>

<%= link_to 'Show', user_flights_path(@flight) %> |
<%= link_to 'Back', user_flights_path(current_user) %>

<script type="text/javascript">
  $(function () {
    $("#flight_flight_time").on("focusout", function (e) {
      flightTime = $("#flight_flight_time").val()
      var checkIn = new Date(flightTime) - 864e5
      $('#checkin-time').text(new Date(checkIn));
    });
  });
</script>
<% end %>
