<%- model_class = Flight -%>
<p id="notice"><%= notice %></p>

<h1> Flights </h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id)%></th>
      <th><%= model_class.human_attribute_name(:flight_number)%></th>
      <th><%= model_class.human_attribute_name(:flight_time)%></th>
      <th><%= model_class.human_attribute_name(:checkin_time)%></th>
      <th><%=t '.actions', default: t("helpers.actions")%></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= link_to flight.id, user_flights_path, flight %></td>
        <td><%= flight.flight_number %></td>
        <td><%= flight.flight_time %></td>
        <td><%= flight.checkin_time %></td>
        <td><%= link_to 'Edit', edit_user_flights_path, flight, class: 'btn btn-default btn-xs' %>
        <td><%= link_to 'Destroy', flight, method: :delete, class:  'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_user_flight_path, class: 'btn btn-primary' %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>

