<%- model_class = Flight -%>
<p id="notice"><%= notice %></p>

<div class=title> Flights </div>

<table class = "table table-striped table-bordered form-container">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:flight_number)%></th>
      <th><%= model_class.human_attribute_name(:checkin_time)%></th>
      <th><%= model_class.human_attribute_name(:flight_time)%></th>
      <th><%=t '.actions', default: t("helpers.actions")%></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= link_to "#{flight.flight_number}", user_flights_path(flight)%></td>
        <td><%= flight.checkin_time.in_time_zone(flight.timezone).strftime("%I:%M%p %m/%d/%Y #{flight.timezone}") %></td>
        <td><%= flight.flight_time.in_time_zone(flight.timezone).strftime("%I:%M%p %m/%d/%Y #{flight.timezone}") %></td>
        <td><%= link_to 'Edit', edit_user_flight_url(current_user, flight), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', user_flight_path(current_user,flight), method: :delete, class:  'btn btn-xs btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class='flight-buttons'>
  <%= link_to 'New Flight', new_user_flight_path, class: 'btn btn-primary' %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
</div>

