<div class="title-div"><h2 class="page-header">Sign In</h2></div>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
    <div class="form-input">
      <%= f.label :email, class: "hidden"%>
      <%= f.email_field :email, autofocus: true, placeholder: "Email"  %>
    </div>
    </div>

    <div class="row">
    <div class="form-input">
      <%= f.label :password, class: "hidden" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password"  %>
    </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="row">
        <div class="form-input remember-me">
          <%= f.check_box :remember_me %> 
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn-sm btn-login" %>
    </div>
<% end %>
</div>
